In [3]:
import os
import pandas as pd

In [4]:
from tsa.config import DATA_DIR

In [5]:
historical_prices_5_yrs = os.path.join(DATA_DIR, 'prices_5yrs.csv')
historical_prices_10_yrs = os.path.join(DATA_DIR, 'prices_10yrs.csv')

In [6]:
historical_prices_5_yrs

'/Users/yevgeniy/Development/projects/anomaly/time-series-analysis/data/prices_5yrs.csv'

In [7]:
# df_5yr = pd.read_csv(historical_prices_5_yrs, parse_dates=['date'], index_col=0)
df_5yr = pd.read_csv(historical_prices_5_yrs)

In [8]:
df_5yr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12590 entries, 0 to 12589
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    12590 non-null  object
 1   ticker  12590 non-null  object
 2   open    12590 non-null  float64
 3   high    12590 non-null  float64
 4   low     12590 non-null  float64
 5   close   12590 non-null  float64
 6   volume  12590 non-null  int64
dtypes: float64(4), int64(1), object(2)
memory usage: 688.6+ KB

In [9]:
df_5yr['date'] = pd.to_datetime(df_5yr['date'])
df_5yr.set_index('date', inplace=True)
df_5yr.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 12590 entries, 2016-04-26 to 2021-04-26
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ticker  12590 non-null  object
 1   open    12590 non-null  float64
 2   high    12590 non-null  float64
 3   low     12590 non-null  float64
 4   close   12590 non-null  float64
 5   volume  12590 non-null  int64
dtypes: float64(4), int64(1), object(1)
memory usage: 688.5+ KB